# fly.toml app configuration file generated for bnh-md-c5tajw on 2025-12-13T15:36:50Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bnh-md-c5tajw'
primary_region = 'jnb'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
